RewriteEngine on
RewriteCond %{HTTP_HOST} ^la-mineur-music-academy.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.la-mineur-music-academy.com$
RewriteCond %{REQUEST_URI} !/public/
RewriteRule (.*) /public/$1 [L]